---
import { Image } from "astro:assets";
import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, my name is Thales Machado. I’m particularly interested in development stuff, such as VueJS, ReactJS, NodeJS, TypeScript, Laravel, maybe because this is my actual stack.
		</p>
		<h2 class="title">
			How did I get here?
		</h3>
		<p> The year is 2020, I was in law school, sixty semester, thinking about what I want to be was always a problem, we have so much options that is easy to get lost in our own thoughts about this topic.</p>
		<p> So, I met a friend (well, now he is a friend), that was streaming on the category "Software & Game Development", he was doing a little class about PHP, so I thought with myself, why not!? right?</p>
		<p> I started to watch his streams, and there was my first experience with coding, after this I started to search content by myself, reading documentation and articles about the topics I wanted to know more, at this point I started to feel more confident to search for a opportunity in the field.</p>
		<p> At the moment I work as a Software Enginner, but I'm open to new opportunities, feel free to chat with me about anything</p>
		<SocialList />
	</div>
</PageLayout>
